# CSI5388 Natural Language Processing
## Assignment - 2
## INGREDIENTS FOR HAPPINESS

In [1]:
# Import Data
import pandas as pd
import numpy as np
train_labeled = pd.read_csv("data/TRAIN/labeled_10k.csv", engine = 'python')
train_unlabeled = pd.read_csv("data/TRAIN/unlabeled_70k.csv", engine = 'python')
test_labeled = pd.read_csv("data/TEST/labeled_17k.csv", engine = 'python') # engine should be set as python to avoid error due to some characters: https://stackoverflow.com/questions/46000191/utf-8-codec-cant-decode-byte-0x92-in-position-18-invalid-start-byte
test_unlabeled = pd.read_csv("data/TEST/unlabeled_17k.csv", engine = 'python')

In [2]:
train_labeled.head()

,hmid,moment,concepts,agency,social,age,country,gender,married,parenthood,reflection,duration
0,27674,I was happy when my son got 90% marks in his e...,education|family,no,yes,29.0,IND,m,married,y,24h,half_a_day
1,27685,went to movies with my friends it was fun,entertainment,yes,yes,29.0,IND,m,single,y,24h,half_a_day
2,27691,A hot kiss with my girl friend last night made...,romance,yes,yes,25.0,IND,m,married,y,24h,at_least_one_hour
3,27701,My son woke me up to a fantastic breakfast of ...,family|food,no,yes,79,USA,f,widowed,y,24h,all_day_im_still_feeling_it
4,27712,My older daughter keeps patting my younger dau...,family,no,yes,30,USA,f,married,y,24h,a_few_moment

In [3]:
train_unlabeled.head()

,hmid,moment,age,country,gender,married,parenthood,reflection,duration
0,27673,I went on a successful date with someone I fel...,35.0,USA,m,single,n,24h,at_least_one_hour
1,27675,I went to the gym this morning and did yoga.,30.0,USA,f,married,y,24h,at_least_one_hour
2,27678,I meditated last night.,23.0,IND,m,single,n,24h,at_least_one_hour
3,27679,"I made a new recipe for peasant bread, and it ...",30.0,USA,m,single,n,24h,half_a_day
4,27680,I got gift from my elder brother which was rea...,23.0,IND,m,single,n,24h,at_least_one_hour

In [4]:
test_labeled.head()

,hmid,moment,reflection,age,country,gender,duration,married,parenthood,concepts,agency,social
0,0,I was able to spend the day with my fiance sho...,24h,28,USA,m,all_day_im_still_feeling_it,single,n,shopping|family|romance,yes,no
1,1,I was able to play with my cat.,24h,28,USA,m,at_least_one_hour,single,n,animals,yes,no
2,2,I was able to clean my room and gold my laundry.,24h,28,USA,m,at_least_one_hour,single,n,0,yes,no
3,3,I spend the day at a party on the beach and I ...,24h,24,USA,m,half_a_day,single,n,vacation|party|weather,yes,yes
4,4,My cat greeting me when I got home from work -...,24h,24,USA,m,half_a_day,single,n,animals,no,no

In [5]:
test_unlabeled.head()

,hmid,moment,reflection,age,country,gender,duration,married,parenthood
0,0,I was able to spend the day with my fiance sho...,24h,28,USA,m,all_day_im_still_feeling_it,single,n
1,1,I was able to play with my cat.,24h,28,USA,m,at_least_one_hour,single,n
2,2,I was able to clean my room and gold my laundry.,24h,28,USA,m,at_least_one_hour,single,n
3,3,I spend the day at a party on the beach and I ...,24h,24,USA,m,half_a_day,single,n
4,4,My cat greeting me when I got home from work -...,24h,24,USA,m,half_a_day,single,n

### Pre-processing ###

In [6]:
import nltk

In [7]:
train_labeled['moment'].head(3)

0    I was happy when my son got 90% marks in his e...
1            went to movies with my friends it was fun
2    A hot kiss with my girl friend last night made...
Name: moment, dtype: object

In [8]:
train_unlabeled['moment'].head(3)

0    I went on a successful date with someone I fel...
1         I went to the gym this morning and did yoga.
2                              I meditated last night.
Name: moment, dtype: object

In [9]:
train_labeled['moment'] = train_labeled['moment'].str.lower()
train_unlabeled['moment'] = train_unlabeled['moment'].str.lower()

In [10]:
train_unlabeled['moment'].head(3)

0    i went on a successful date with someone i fel...
1         i went to the gym this morning and did yoga.
2                              i meditated last night.
Name: moment, dtype: object

## Removing the punctuations ##

In [11]:
import string
print(string.punctuation)
punct_str = string.punctuation

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [12]:
upd_moment = []
upd_moment_2 = []

for text_t1 in train_labeled['moment']:
    text_upd = "".join([ char for char in text_t1 if char not in string.punctuation])
    upd_moment.append(text_upd)
    
for text_t2 in train_unlabeled['moment']:
    text_upd_2 = "".join([ char for char in text_t2 if char not in string.punctuation])
    upd_moment_2.append(text_upd_2)

In [13]:
train_labeled['moment'] = upd_moment
train_unlabeled['moment']= upd_moment_2

In [14]:
train_labeled['moment'][4]

'my older daughter keeps patting my younger daughters head'

## Tokenization ##

In [15]:
from nltk import word_tokenize
list_tokenize = []

for moments_sent in train_labeled['moment']:
    tokenized_wrds = word_tokenize(moments_sent)
    list_tokenize.append(tokenized_wrds)
train_labeled['moment'] = list_tokenize
    
list_tokenize = []
for moments_sent in train_unlabeled['moment']:
    tokenized_wrds = word_tokenize(moments_sent)
    list_tokenize.append(tokenized_wrds)
train_unlabeled['moment'] = list_tokenize

In [16]:
train_labeled.head()

,hmid,moment,concepts,agency,social,age,country,gender,married,parenthood,reflection,duration
0,27674,"[i, was, happy, when, my, son, got, 90, marks,...",education|family,no,yes,29.0,IND,m,married,y,24h,half_a_day
1,27685,"[went, to, movies, with, my, friends, it, was,...",entertainment,yes,yes,29.0,IND,m,single,y,24h,half_a_day
2,27691,"[a, hot, kiss, with, my, girl, friend, last, n...",romance,yes,yes,25.0,IND,m,married,y,24h,at_least_one_hour
3,27701,"[my, son, woke, me, up, to, a, fantastic, brea...",family|food,no,yes,79,USA,f,widowed,y,24h,all_day_im_still_feeling_it
4,27712,"[my, older, daughter, keeps, patting, my, youn...",family,no,yes,30,USA,f,married,y,24h,a_few_moment

In [17]:
train_unlabeled.head()

,hmid,moment,age,country,gender,married,parenthood,reflection,duration
0,27673,"[i, went, on, a, successful, date, with, someo...",35.0,USA,m,single,n,24h,at_least_one_hour
1,27675,"[i, went, to, the, gym, this, morning, and, di...",30.0,USA,f,married,y,24h,at_least_one_hour
2,27678,"[i, meditated, last, night]",23.0,IND,m,single,n,24h,at_least_one_hour
3,27679,"[i, made, a, new, recipe, for, peasant, bread,...",30.0,USA,m,single,n,24h,half_a_day
4,27680,"[i, got, gift, from, my, elder, brother, which...",23.0,IND,m,single,n,24h,at_least_one_hour

## Remove Stopwords  ##

In [18]:
from nltk.corpus import stopwords
stop_words_eng = stopwords.words('english')
print(stop_words_eng)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [19]:
filt_wrd_list=[]
for words in train_labeled['moment']:
    filtered_words = [word for word in words if word not in stop_words_eng]    
    filt_wrd_list.append(filtered_words)
train_labeled['moment'] = filt_wrd_list

filt_wrd_list=[]
for words in train_unlabeled['moment']:
    filtered_words = [word for word in words if word not in stop_words_eng]    
    filt_wrd_list.append(filtered_words)
train_unlabeled['moment'] = filt_wrd_list

In [20]:
train_labeled['moment']

0                [happy, son, got, 90, marks, examination]
1                             [went, movies, friends, fun]
2        [hot, kiss, girl, friend, last, night, made, day]
3        [son, woke, fantastic, breakfast, eggs, specia...
4        [older, daughter, keeps, patting, younger, dau...
                               ...
10555                       [husband, called, tell, loved]
10556                  [worked, always, makes, feel, good]
10557    [finally, got, watch, new, resident, evil, movie]
10558     [got, talk, old, friend, reminisce, good, times]
10559    [great, meeting, yesterday, work, boss, collea...
Name: moment, Length: 10560, dtype: object

In [21]:
train_unlabeled['moment']

0        [went, successful, date, someone, felt, sympat...
1                               [went, gym, morning, yoga]
2                                 [meditated, last, night]
3        [made, new, recipe, peasant, bread, came, spec...
4          [got, gift, elder, brother, really, surprising]
                               ...
72319                              [spent, time, daughter]
72320    [husband, announced, getting, decent, bonus, q...
72321                                       [pepsi, drink]
72322                  [cuddling, girlfriend, last, night]
72323                        [great, workout, last, night]
Name: moment, Length: 72324, dtype: object

## Lemmatizer ##

In [22]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\parit\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [23]:
lemm_wrd_list=[]
for words in train_labeled['moment']:
    lemm_words = [lemmatizer.lemmatize(word) for word in words]    
    lemm_wrd_list.append(lemm_words)

train_labeled['moment'] = lemm_wrd_list

In [25]:
lemm_wrd_list=[]
for words in train_unlabeled['moment']:
    lemm_words = [lemmatizer.lemmatize(word) for word in words]    
    lemm_wrd_list.append(lemm_words)

train_unlabeled['moment'] = lemm_wrd_list

## Preprocessing Other Columns ##

In [27]:
train_labeled['country'].unique()

array(['IND', 'USA', 'VEN', 'DNK', 'FIN', 'PER', 'GBR', 'SRB', 'DOM',
       'ARM', 'PAK', 'SGP', 'FRA', 'JAM', 'LTU', 'TUR', 'PHL', 'PRT',
       'ESP', 'THA', 'MEX', 'ARE', 'IDN', 'BRA', 'IRL', 'NGA', 'CAN',
       'BGR', 'DEU', nan, 'DZA', 'MKD', 'ETH', 'RUS', 'EGY', 'NLD', 'ALB',
       'BEL', 'MDA', 'ISR', 'NZL', 'AUS', 'ZAF', 'SWE', 'VNM', 'KAZ',
       'GRC', 'TTO', 'UGA', 'MAR', 'URY', 'ISL', 'SUR', 'KOR', 'BHS',
       'COL', 'ITA', 'CZE', 'BRB', 'MLT', 'MYS', 'KEN', 'KWT', 'PRI',
       'ROU', 'SVN', 'MAC', 'GTM', 'NOR', 'AFG'], dtype=object)

In [28]:
train_unlabeled['country'].unique()

array(['USA', 'IND', 'VNM', 'KWT', 'GBR', 'FIN', 'AUS', 'BGD', 'IDN',
       'BEL', 'CAN', 'SGP', 'IRL', 'PHL', 'VEN', 'LTU', 'BGR', 'DNK',
       'URY', 'SRB', 'JAM', 'ITA', 'KEN', 'DOM', 'EGY', 'PER', 'PRT',
       'ESP', 'NGA', 'BRA', 'MEX', 'TUR', 'MKD', 'FRA', 'COL', 'GRC', nan,
       'MDA', 'POL', 'ARM', 'PAK', 'DZA', 'UGA', 'MYS', 'ZAF', 'THA',
       'ARE', 'AUT', 'LKA', 'DEU', 'ROU', 'ETH', 'NZL', 'NIC', 'NLD',
       'ALB', 'RUS', 'UMI', 'ISR', 'MAR', 'SWE', 'KAZ', 'ASM', 'TTO',
       'JPN', 'PRI', 'AFG', 'KNA', 'CYP', 'TUN', 'HRV', 'ECU', 'KOR',
       'BRB', 'CZE', 'EST', 'BHS', 'GTM', 'GHA', 'GMB', 'ISL', 'SAU',
       'SUR', 'MLT', 'TCA', 'IRQ', 'ARG', 'TWN', 'CHL', 'MAC', 'SVN',
       'NPL', 'VIR', 'SLV', 'NOR', 'LVA'], dtype=object)

- First issue the unlabelled data set has more terms different from the labelled data 
- Agency and Social are TARGET

In [30]:
train_labeled.columns

Index(['hmid', 'moment', 'concepts', 'agency', 'social', 'age', 'country',
       'gender', 'married', 'parenthood', 'reflection', 'duration'],
      dtype='object')

In [32]:
print(train_labeled['married'].unique())
print(train_labeled['gender'].unique())
print(train_labeled['age'].unique())
print(train_labeled['duration'].unique())
print(train_labeled['reflection'].unique())
print(train_labeled['parenthood'].unique())

['married' 'single' 'widowed' 'divorced' 'separated' nan]
['m' 'f' 'o' nan]
['29.0' '25.0' '79' '30' '34' '26' '25' '22' '21' '35' '55' '27' '46' '29'
 '31' '61' '28' '64' '66' '30.0' '45' '37' '39' '32' '63' '23.0' '37.0'
 '20.0' '27.0' '38' '24.0' '36.0' '49' '34.0' '52' '21.0' '56' '28.0'
 '35.0' '31.0' '20' '98' '41' '18.0' '19' '48' '32.0' '61.0' '51.0' '26.0'
 '24' '45.0' '44.0' '33' '42.0' '53' '22.0' '38.0' '71.0' '23' '33.0'
 '48.0' '39.0' '44' '50.0' '42' '19.0' '47.0' '41.0' nan '51' '36' '43'
 '50' '59' '62' '54.0' '60.0' '40' '18' '60' '57' '65' '68' '54' '57.0'
 '47' '40.0' '69' '58' '2' '3' 'prefer not to say' '83' '49.0' '62.0'
 '64.0' '78.0' '46.0' '65.0' '63.0' '88.0' '43.0' '58.0' '67' '66.0'
 '52.0' '53.0' '74' '56.0' '55.0' '2.0' '76.0' '59.0' '73.0' '72.0' '70.0'
 '70' '233.0' '79.0' '71' '67.0' '69.0' '68.0' '75' '74.0' '77']
['half_a_day' 'at_least_one_hour' 'all_day_im_still_feeling_it'
 'a_few_moment' nan 'a_few_minutes']
['24h' '3m']
['y' 'n' nan]

## Train baseline Classifier

In [24]:
print('firetruck')

firetruck