# CSI5388 Natural Language Processing
## Assignment - 2
## INGREDIENTS FOR HAPPINESS

In [20]:
# Import Data
import pandas as pd
import numpy as np
train_labeled = pd.read_csv("data/TRAIN/labeled_10k.csv", engine = 'python')
train_unlabeled = pd.read_csv("data/TRAIN/unlabeled_70k.csv", engine = 'python')
test_labeled = pd.read_csv("data/TEST/labeled_17k.csv", engine = 'python') # engine should be set as python to avoid error due to some characters: https://stackoverflow.com/questions/46000191/utf-8-codec-cant-decode-byte-0x92-in-position-18-invalid-start-byte
test_unlabeled = pd.read_csv("data/TEST/unlabeled_17k.csv", engine = 'python')

In [21]:
train_labeled.head()

,hmid,moment,concepts,agency,social,age,country,gender,married,parenthood,reflection,duration
0,27674,I was happy when my son got 90% marks in his e...,education|family,no,yes,29.0,IND,m,married,y,24h,half_a_day
1,27685,went to movies with my friends it was fun,entertainment,yes,yes,29.0,IND,m,single,y,24h,half_a_day
2,27691,A hot kiss with my girl friend last night made...,romance,yes,yes,25.0,IND,m,married,y,24h,at_least_one_hour
3,27701,My son woke me up to a fantastic breakfast of ...,family|food,no,yes,79,USA,f,widowed,y,24h,all_day_im_still_feeling_it
4,27712,My older daughter keeps patting my younger dau...,family,no,yes,30,USA,f,married,y,24h,a_few_moment

In [22]:
train_unlabeled.head()

,hmid,moment,age,country,gender,married,parenthood,reflection,duration
0,27673,I went on a successful date with someone I fel...,35.0,USA,m,single,n,24h,at_least_one_hour
1,27675,I went to the gym this morning and did yoga.,30.0,USA,f,married,y,24h,at_least_one_hour
2,27678,I meditated last night.,23.0,IND,m,single,n,24h,at_least_one_hour
3,27679,"I made a new recipe for peasant bread, and it ...",30.0,USA,m,single,n,24h,half_a_day
4,27680,I got gift from my elder brother which was rea...,23.0,IND,m,single,n,24h,at_least_one_hour

In [23]:
test_labeled.head()

,hmid,moment,reflection,age,country,gender,duration,married,parenthood,concepts,agency,social
0,0,I was able to spend the day with my fiance sho...,24h,28,USA,m,all_day_im_still_feeling_it,single,n,shopping|family|romance,yes,no
1,1,I was able to play with my cat.,24h,28,USA,m,at_least_one_hour,single,n,animals,yes,no
2,2,I was able to clean my room and gold my laundry.,24h,28,USA,m,at_least_one_hour,single,n,0,yes,no
3,3,I spend the day at a party on the beach and I ...,24h,24,USA,m,half_a_day,single,n,vacation|party|weather,yes,yes
4,4,My cat greeting me when I got home from work -...,24h,24,USA,m,half_a_day,single,n,animals,no,no

In [24]:
test_unlabeled.head()

,hmid,moment,reflection,age,country,gender,duration,married,parenthood
0,0,I was able to spend the day with my fiance sho...,24h,28,USA,m,all_day_im_still_feeling_it,single,n
1,1,I was able to play with my cat.,24h,28,USA,m,at_least_one_hour,single,n
2,2,I was able to clean my room and gold my laundry.,24h,28,USA,m,at_least_one_hour,single,n
3,3,I spend the day at a party on the beach and I ...,24h,24,USA,m,half_a_day,single,n
4,4,My cat greeting me when I got home from work -...,24h,24,USA,m,half_a_day,single,n

In [25]:
#Pre-processing

## Train baseline Classifier