# CSI5388 Natural Language Processing
## Assignment - 2
## INGREDIENTS FOR HAPPINESS

In [424]:
# Import Data
import pandas as pd
import numpy as np
train_labeled = pd.read_csv("data/TRAIN/labeled_10k.csv", engine = 'python')
train_unlabeled = pd.read_csv("data/TRAIN/unlabeled_70k.csv", engine = 'python')
test_labeled = pd.read_csv("data/TEST/labeled_17k.csv", engine = 'python') # engine should be set as python to avoid error due to some characters: https://stackoverflow.com/questions/46000191/utf-8-codec-cant-decode-byte-0x92-in-position-18-invalid-start-byte
test_unlabeled = pd.read_csv("data/TEST/unlabeled_17k.csv", engine = 'python')

In [425]:
train_labeled.head()

,hmid,moment,concepts,agency,social,age,country,gender,married,parenthood,reflection,duration
0,27674,I was happy when my son got 90% marks in his e...,education|family,no,yes,29.0,IND,m,married,y,24h,half_a_day
1,27685,went to movies with my friends it was fun,entertainment,yes,yes,29.0,IND,m,single,y,24h,half_a_day
2,27691,A hot kiss with my girl friend last night made...,romance,yes,yes,25.0,IND,m,married,y,24h,at_least_one_hour
3,27701,My son woke me up to a fantastic breakfast of ...,family|food,no,yes,79,USA,f,widowed,y,24h,all_day_im_still_feeling_it
4,27712,My older daughter keeps patting my younger dau...,family,no,yes,30,USA,f,married,y,24h,a_few_moment

In [426]:
train_unlabeled.head()

,hmid,moment,age,country,gender,married,parenthood,reflection,duration
0,27673,I went on a successful date with someone I fel...,35.0,USA,m,single,n,24h,at_least_one_hour
1,27675,I went to the gym this morning and did yoga.,30.0,USA,f,married,y,24h,at_least_one_hour
2,27678,I meditated last night.,23.0,IND,m,single,n,24h,at_least_one_hour
3,27679,"I made a new recipe for peasant bread, and it ...",30.0,USA,m,single,n,24h,half_a_day
4,27680,I got gift from my elder brother which was rea...,23.0,IND,m,single,n,24h,at_least_one_hour

In [427]:
test_labeled.head()

,hmid,moment,reflection,age,country,gender,duration,married,parenthood,concepts,agency,social
0,0,I was able to spend the day with my fiance sho...,24h,28,USA,m,all_day_im_still_feeling_it,single,n,shopping|family|romance,yes,no
1,1,I was able to play with my cat.,24h,28,USA,m,at_least_one_hour,single,n,animals,yes,no
2,2,I was able to clean my room and gold my laundry.,24h,28,USA,m,at_least_one_hour,single,n,0,yes,no
3,3,I spend the day at a party on the beach and I ...,24h,24,USA,m,half_a_day,single,n,vacation|party|weather,yes,yes
4,4,My cat greeting me when I got home from work -...,24h,24,USA,m,half_a_day,single,n,animals,no,no

In [428]:
test_unlabeled.head()

,hmid,moment,reflection,age,country,gender,duration,married,parenthood
0,0,I was able to spend the day with my fiance sho...,24h,28,USA,m,all_day_im_still_feeling_it,single,n
1,1,I was able to play with my cat.,24h,28,USA,m,at_least_one_hour,single,n
2,2,I was able to clean my room and gold my laundry.,24h,28,USA,m,at_least_one_hour,single,n
3,3,I spend the day at a party on the beach and I ...,24h,24,USA,m,half_a_day,single,n
4,4,My cat greeting me when I got home from work -...,24h,24,USA,m,half_a_day,single,n

### Pre-processing ###

In [429]:
import nltk

In [430]:
train_labeled['moment'].head(3)

0    I was happy when my son got 90% marks in his e...
1            went to movies with my friends it was fun
2    A hot kiss with my girl friend last night made...
Name: moment, dtype: object

In [431]:
train_unlabeled['moment'].head(3)

0    I went on a successful date with someone I fel...
1         I went to the gym this morning and did yoga.
2                              I meditated last night.
Name: moment, dtype: object

In [432]:
train_labeled['moment'] = train_labeled['moment'].str.lower()
train_unlabeled['moment'] = train_unlabeled['moment'].str.lower()

In [433]:
train_unlabeled['moment'].head(3)

0    i went on a successful date with someone i fel...
1         i went to the gym this morning and did yoga.
2                              i meditated last night.
Name: moment, dtype: object

## Removing the punctuations ##

In [434]:
import string
print(string.punctuation)
punct_str = string.punctuation

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [435]:
upd_moment = []
upd_moment_2 = []

for text_t1 in train_labeled['moment']:
    text_upd = "".join([ char for char in text_t1 if char not in string.punctuation])
    upd_moment.append(text_upd)
    
for text_t2 in train_unlabeled['moment']:
    text_upd_2 = "".join([ char for char in text_t2 if char not in string.punctuation])
    upd_moment_2.append(text_upd_2)

In [436]:
train_labeled['moment'] = upd_moment
train_unlabeled['moment']= upd_moment_2

In [437]:
train_labeled['moment'][4]

'my older daughter keeps patting my younger daughters head'

## Tokenization ##

In [340]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('corpus')

[nltk_data] Downloading package punkt to /Users/ranjan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ranjan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Error loading corpus: Package 'corpus' not found in index

False

In [341]:
from nltk import word_tokenize
list_tokenize = []

for moments_sent in train_labeled['moment']:
    tokenized_wrds = word_tokenize(moments_sent)
    list_tokenize.append(tokenized_wrds)
train_labeled['moment'] = list_tokenize
    
list_tokenize = []
for moments_sent in train_unlabeled['moment']:
    tokenized_wrds = word_tokenize(moments_sent)
    list_tokenize.append(tokenized_wrds)
train_unlabeled['moment'] = list_tokenize

In [342]:
train_labeled.head()

,hmid,moment,concepts,agency,social,age,country,gender,married,parenthood,reflection,duration
0,27674,"[i, was, happy, when, my, son, got, 90, marks,...",education|family,no,yes,29.0,IND,m,married,y,24h,half_a_day
1,27685,"[went, to, movies, with, my, friends, it, was,...",entertainment,yes,yes,29.0,IND,m,single,y,24h,half_a_day
2,27691,"[a, hot, kiss, with, my, girl, friend, last, n...",romance,yes,yes,25.0,IND,m,married,y,24h,at_least_one_hour
3,27701,"[my, son, woke, me, up, to, a, fantastic, brea...",family|food,no,yes,79,USA,f,widowed,y,24h,all_day_im_still_feeling_it
4,27712,"[my, older, daughter, keeps, patting, my, youn...",family,no,yes,30,USA,f,married,y,24h,a_few_moment

In [343]:
train_unlabeled.head()

,hmid,moment,age,country,gender,married,parenthood,reflection,duration
0,27673,"[i, went, on, a, successful, date, with, someo...",35.0,USA,m,single,n,24h,at_least_one_hour
1,27675,"[i, went, to, the, gym, this, morning, and, di...",30.0,USA,f,married,y,24h,at_least_one_hour
2,27678,"[i, meditated, last, night]",23.0,IND,m,single,n,24h,at_least_one_hour
3,27679,"[i, made, a, new, recipe, for, peasant, bread,...",30.0,USA,m,single,n,24h,half_a_day
4,27680,"[i, got, gift, from, my, elder, brother, which...",23.0,IND,m,single,n,24h,at_least_one_hour

## Remove Stopwords  ##

In [344]:
from nltk.corpus import stopwords
stop_words_eng = stopwords.words('english')
print(stop_words_eng)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [345]:
filt_wrd_list=[]
for words in train_labeled['moment']:
    filtered_words = [word for word in words if word not in stop_words_eng]    
    filt_wrd_list.append(filtered_words)
train_labeled['moment'] = filt_wrd_list

filt_wrd_list=[]
for words in train_unlabeled['moment']:
    filtered_words = [word for word in words if word not in stop_words_eng]    
    filt_wrd_list.append(filtered_words)
train_unlabeled['moment'] = filt_wrd_list

In [346]:
train_labeled['moment']

0                [happy, son, got, 90, marks, examination]
1                             [went, movies, friends, fun]
2        [hot, kiss, girl, friend, last, night, made, day]
3        [son, woke, fantastic, breakfast, eggs, specia...
4        [older, daughter, keeps, patting, younger, dau...
                               ...
10555                       [husband, called, tell, loved]
10556                  [worked, always, makes, feel, good]
10557    [finally, got, watch, new, resident, evil, movie]
10558     [got, talk, old, friend, reminisce, good, times]
10559    [great, meeting, yesterday, work, boss, collea...
Name: moment, Length: 10560, dtype: object

In [347]:
train_unlabeled['moment']

0        [went, successful, date, someone, felt, sympat...
1                               [went, gym, morning, yoga]
2                                 [meditated, last, night]
3        [made, new, recipe, peasant, bread, came, spec...
4          [got, gift, elder, brother, really, surprising]
                               ...
72319                              [spent, time, daughter]
72320    [husband, announced, getting, decent, bonus, q...
72321                                       [pepsi, drink]
72322                  [cuddling, girlfriend, last, night]
72323                        [great, workout, last, night]
Name: moment, Length: 72324, dtype: object

## Lemmatizer ##

In [348]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to /Users/ranjan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [349]:
# lemm_wrd_list=[]
# for words in train_labeled['moment']:
#     lemm_words = [lemmatizer.lemmatize(word) for word in words]    
#     lemm_wrd_list.append(lemm_words)

# train_labeled['moment'] = lemm_wrd_list
lemm_wrd_list=[]
for words in train_labeled['moment']:
    lemm_words = [lemmatizer.lemmatize(word) for word in words] 
    lemm_string = "";
    for i in range(0, len(lemm_words)):
        lemm_string += lemm_words[i] + " "
    lemm_wrd_list.append(lemm_string.strip())
train_labeled['moment'] = lemm_wrd_list

In [350]:
train_labeled.head()

,hmid,moment,concepts,agency,social,age,country,gender,married,parenthood,reflection,duration
0,27674,happy son got 90 mark examination,education|family,no,yes,29.0,IND,m,married,y,24h,half_a_day
1,27685,went movie friend fun,entertainment,yes,yes,29.0,IND,m,single,y,24h,half_a_day
2,27691,hot kiss girl friend last night made day,romance,yes,yes,25.0,IND,m,married,y,24h,at_least_one_hour
3,27701,son woke fantastic breakfast egg special hambu...,family|food,no,yes,79,USA,f,widowed,y,24h,all_day_im_still_feeling_it
4,27712,older daughter keep patting younger daughter head,family,no,yes,30,USA,f,married,y,24h,a_few_moment

In [351]:
# lemm_wrd_list=[]
# for words in train_unlabeled['moment']:
#     lemm_words = [lemmatizer.lemmatize(word) for word in words]    
#     lemm_wrd_list.append(lemm_words)

lemm_wrd_list=[]
for words in train_unlabeled['moment']:
    lemm_words = [lemmatizer.lemmatize(word) for word in words] 
    lemm_string = "";
    for i in range(0, len(lemm_words)):
        lemm_string += lemm_words[i] + " "
    lemm_wrd_list.append(lemm_string.strip())

train_unlabeled['moment'] = lemm_wrd_list

In [438]:
concepts_list = []
for i in range(0, len(train_labeled['concepts'])):
    arr = train_labeled['concepts'][i].split("|")
    concept_string = ""
    for j in range(0, len(arr)):
        concept_string += arr[j] + " "
    concepts_list.append(concept_string.strip())
train_labeled['concepts'] = concepts_list

In [439]:
train_labeled.head()

,hmid,moment,concepts,agency,social,age,country,gender,married,parenthood,reflection,duration
0,27674,i was happy when my son got 90 marks in his ex...,education family,no,yes,29.0,IND,m,married,y,24h,half_a_day
1,27685,went to movies with my friends it was fun,entertainment,yes,yes,29.0,IND,m,single,y,24h,half_a_day
2,27691,a hot kiss with my girl friend last night made...,romance,yes,yes,25.0,IND,m,married,y,24h,at_least_one_hour
3,27701,my son woke me up to a fantastic breakfast of ...,family food,no,yes,79,USA,f,widowed,y,24h,all_day_im_still_feeling_it
4,27712,my older daughter keeps patting my younger dau...,family,no,yes,30,USA,f,married,y,24h,a_few_moment

## Preprocessing Other Columns ##

In [440]:
train_labeled['country'].unique()

array(['IND', 'USA', 'VEN', 'DNK', 'FIN', 'PER', 'GBR', 'SRB', 'DOM',
       'ARM', 'PAK', 'SGP', 'FRA', 'JAM', 'LTU', 'TUR', 'PHL', 'PRT',
       'ESP', 'THA', 'MEX', 'ARE', 'IDN', 'BRA', 'IRL', 'NGA', 'CAN',
       'BGR', 'DEU', nan, 'DZA', 'MKD', 'ETH', 'RUS', 'EGY', 'NLD', 'ALB',
       'BEL', 'MDA', 'ISR', 'NZL', 'AUS', 'ZAF', 'SWE', 'VNM', 'KAZ',
       'GRC', 'TTO', 'UGA', 'MAR', 'URY', 'ISL', 'SUR', 'KOR', 'BHS',
       'COL', 'ITA', 'CZE', 'BRB', 'MLT', 'MYS', 'KEN', 'KWT', 'PRI',
       'ROU', 'SVN', 'MAC', 'GTM', 'NOR', 'AFG'], dtype=object)

In [441]:
train_unlabeled['country'].unique()

array(['USA', 'IND', 'VNM', 'KWT', 'GBR', 'FIN', 'AUS', 'BGD', 'IDN',
       'BEL', 'CAN', 'SGP', 'IRL', 'PHL', 'VEN', 'LTU', 'BGR', 'DNK',
       'URY', 'SRB', 'JAM', 'ITA', 'KEN', 'DOM', 'EGY', 'PER', 'PRT',
       'ESP', 'NGA', 'BRA', 'MEX', 'TUR', 'MKD', 'FRA', 'COL', 'GRC', nan,
       'MDA', 'POL', 'ARM', 'PAK', 'DZA', 'UGA', 'MYS', 'ZAF', 'THA',
       'ARE', 'AUT', 'LKA', 'DEU', 'ROU', 'ETH', 'NZL', 'NIC', 'NLD',
       'ALB', 'RUS', 'UMI', 'ISR', 'MAR', 'SWE', 'KAZ', 'ASM', 'TTO',
       'JPN', 'PRI', 'AFG', 'KNA', 'CYP', 'TUN', 'HRV', 'ECU', 'KOR',
       'BRB', 'CZE', 'EST', 'BHS', 'GTM', 'GHA', 'GMB', 'ISL', 'SAU',
       'SUR', 'MLT', 'TCA', 'IRQ', 'ARG', 'TWN', 'CHL', 'MAC', 'SVN',
       'NPL', 'VIR', 'SLV', 'NOR', 'LVA'], dtype=object)

- First issue the unlabelled data set has more terms different from the labelled data 
- Agency and Social are TARGET

In [442]:
train_labeled.columns

Index(['hmid', 'moment', 'concepts', 'agency', 'social', 'age', 'country',
       'gender', 'married', 'parenthood', 'reflection', 'duration'],
      dtype='object')

In [443]:
# print(train_labeled['married'].unique())
# print(train_labeled['gender'].unique())
# print(train_labeled['age'].unique())
# print(train_labeled['duration'].unique())
# print(train_labeled['reflection'].unique())
# print(train_labeled['parenthood'].unique())
# print(train_labeled['concepts'].unique())

In [444]:
print(train_labeled.isna().sum())

hmid           0
moment         0
concepts       0
agency         0
social         0
age            9
country       22
gender         6
married       15
parenthood     9
reflection     0
duration      31
dtype: int64

In [445]:
print(train_unlabeled.isna().sum())

hmid            0
moment          0
age            96
country       124
gender         47
married        95
parenthood     50
reflection      0
duration      226
dtype: int64

In [446]:
print(test_labeled.isna().sum())

hmid            0
moment          0
reflection      0
age             0
country       262
gender         50
duration        0
married       215
parenthood    122
concepts        0
agency          0
social          0
dtype: int64

In [447]:
print(test_unlabeled.isna().sum())

hmid            0
moment          0
reflection      0
age             0
country       262
gender         50
duration        0
married       215
parenthood    122
dtype: int64

## Remove all the nan, null and prefer not to say values ##

In [448]:
train_labeled.shape

(10560, 12)

In [449]:
train_labeled = train_labeled.dropna()
print(train_labeled.shape)

(10485, 12)

In [450]:
train_unlabeled.shape

(72324, 9)

In [451]:
train_unlabeled = train_unlabeled.dropna()
train_unlabeled.shape

(71771, 9)

In [452]:
test_labeled = test_labeled.dropna()
test_labeled.shape

(16665, 12)

In [453]:
test_unlabeled = test_unlabeled.dropna()
test_unlabeled.shape

(16665, 9)

In [454]:
# print(train_labeled['married'].unique())
# print(train_labeled['gender'].unique())
# print(train_labeled['duration'].unique())
# print(train_labeled['reflection'].unique())
# print(train_labeled['parenthood'].unique())
# print(train_labeled['age'].unique())
# print(train_labeled['country'].unique())
# print(train_labeled['country'].describe())

In [455]:
#print(train_labeled.shape)
train_labeled = train_labeled[train_labeled["age"].str.contains("prefer not to say") == False]
#print(train_labeled.shape)

train_labeled['age'] = train_labeled['age'].astype(float)

In [456]:
# print(test_labeled['married'].unique())
# print(test_labeled['gender'].unique())
print(test_labeled['duration'].unique())

cnt=0
for i in test_labeled['duration']:
    if i=='select one':
        cnt+=1;
print('\nRows with "Select One" word ',cnt,'\n')



# print(test_labeled['reflection'].unique())
# print(test_labeled['parenthood'].unique())
print(test_labeled['age'].unique())
# print(test_labeled['country'].unique())
print(test_labeled['country'].describe())

['all_day_im_still_feeling_it' 'at_least_one_hour' 'half_a_day'
 'a_few_minutes' 'select one']

Rows with "Select One" word  45

['28' '24' '34' '27' '31' '21' '57' '36' '71' '32' '40' '43' '38' '30'
 '49' '25' '46' '35' '69' '26' '29' '19' '33' '54' '23' '45' '72' '41'
 '22' '56' '70' '60' '37' '51' '50' '48' '39' '55' '47' '62' '74' '61'
 '68' '65' '59' '20' '67' '{}' '42' '44' '66' '64' '18' '76' '58' '63'
 '52' '53' '78' '73' '2' '3' '119' '5' '37years' '80' ',30' '247' '586']
count     16665
unique       61
top         USA
freq      13952
Name: country, dtype: object

In [457]:
print(train_unlabeled['married'].unique())
print(train_unlabeled['gender'].unique())
print(train_unlabeled['duration'].unique())
print(train_unlabeled['reflection'].unique())
print(train_unlabeled['parenthood'].unique())
print(train_unlabeled['age'].unique())

['single' 'married' 'divorced' 'separated' 'widowed']
['m' 'f' 'o']
['at_least_one_hour' 'half_a_day' 'all_day_im_still_feeling_it'
 'a_few_moment' 'a_few_minutes']
['24h' '3m']
['n' 'y']
[ 35.  30.  23.  25.  41.  37.  29.  39.  28.  38.  27.  22.  47.  26.
  64.  32.  33.  48.  61.  66.  36.  18.  56.  31.  42.  24.  62.  44.
  21.  45.  46.  40.  55.   3.  52.  19.  34.  53.  49.  65.  43.  20.
  51.  50.  54.  69.  57.  63.  60.  73.  58.  71.  98.  70.  59. 227.
  68.  72.  83.   2.  78.  76.  67.  74.  81. 233.  79.  95.  80.  88.
  75.  77.]

In [458]:
print(test_unlabeled['married'].unique())
print(test_unlabeled['gender'].unique())
print(test_unlabeled['duration'].unique())
print(test_unlabeled['reflection'].unique())
print(test_unlabeled['parenthood'].unique())
print(test_unlabeled['age'].unique())

['single' 'married' 'divorced' 'separated' 'widowed']
['m' 'f' 'o']
['all_day_im_still_feeling_it' 'at_least_one_hour' 'half_a_day'
 'a_few_minutes' 'select one']
['24h' '3m']
['n' 'y']
['28' '24' '34' '27' '31' '21' '57' '36' '71' '32' '40' '43' '38' '30'
 '49' '25' '46' '35' '69' '26' '29' '19' '33' '54' '23' '45' '72' '41'
 '22' '56' '70' '60' '37' '51' '50' '48' '39' '55' '47' '62' '74' '61'
 '68' '65' '59' '20' '67' '{}' '42' '44' '66' '64' '18' '76' '58' '63'
 '52' '53' '78' '73' '2' '3' '119' '5' '37years' '80' ',30' '247' '586']

In [459]:
print(test_labeled['married'].unique())
print(test_labeled['gender'].unique())
print(test_labeled['duration'].unique())
print(test_labeled['reflection'].unique())
print(test_labeled['parenthood'].unique())

['single' 'married' 'divorced' 'separated' 'widowed']
['m' 'f' 'o']
['all_day_im_still_feeling_it' 'at_least_one_hour' 'half_a_day'
 'a_few_minutes' 'select one']
['24h' '3m']
['n' 'y']

In [460]:
print(train_labeled['agency'].unique())
print(train_labeled['social'].unique())

['no' 'yes']
['yes' 'no']

In [461]:
train_unlabeled.columns

Index(['hmid', 'moment', 'age', 'country', 'gender', 'married', 'parenthood',
       'reflection', 'duration'],
      dtype='object')

In [462]:
train_labeled.columns

Index(['hmid', 'moment', 'concepts', 'agency', 'social', 'age', 'country',
       'gender', 'married', 'parenthood', 'reflection', 'duration'],
      dtype='object')

In [463]:
test_labeled.columns

Index(['hmid', 'moment', 'reflection', 'age', 'country', 'gender', 'duration',
       'married', 'parenthood', 'concepts', 'agency', 'social'],
      dtype='object')

In [464]:
test_unlabeled.columns

Index(['hmid', 'moment', 'reflection', 'age', 'country', 'gender', 'duration',
       'married', 'parenthood'],
      dtype='object')

## Encoding the columns ##

In [465]:
# Dealing with yes->1 and No->0 # for agency and social#
train_labeled['social'].replace({'yes':1,'no':0},inplace=True)
train_labeled['agency'].replace({'yes':1,'no':0},inplace=True)

In [466]:
# Dealing with yes->1 and No->0 # for agency and social#
test_labeled['social'].replace({'yes':1,'no':0},inplace=True)
test_labeled['agency'].replace({'yes':1,'no':0},inplace=True)

In [467]:
list1 = []
for i in train_labeled['country']:
    if i=='USA':
        list1.append(1)
    else:
        list1.append(0)

train_labeled['country'] = list1

list1 = []
for i in train_unlabeled['country']:
    if i=='USA':
        list1.append(1)
    else:
        list1.append(0)

train_unlabeled['country'] = list1

In [468]:
list2 = []
for i in test_labeled['country']:
    if i=='USA':
        list2.append(1)
    else:
        list2.append(0)

test_labeled['country'] = list2

list2 = []
for i in test_unlabeled['country']:
    if i=='USA':
        list2.append(1)
    else:
        list2.append(0)

test_unlabeled['country'] = list2

In [469]:
from sklearn.preprocessing import MinMaxScaler

In [470]:
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder,OneHotEncoder

In [471]:
label_enc_age = LabelEncoder()
label_enc_gender = LabelEncoder()
label_enc_parenthood = LabelEncoder()
label_enc_reflection = LabelEncoder()
label_enc_country = LabelEncoder()
label_enc_married = LabelEncoder()
label_enc_duration = LabelEncoder()

label_enc_age_test = LabelEncoder()
label_enc_duration_test = LabelEncoder()

label_enc_age_test_unl = LabelEncoder()

In [472]:
#train_labeled['age'] = label_enc_age.fit_transform(train_labeled['age'])
train_labeled['gender'] = label_enc_gender.fit_transform(train_labeled['gender'])
train_labeled['parenthood'] = label_enc_parenthood.fit_transform(train_labeled['parenthood'])
train_labeled['reflection'] = label_enc_reflection.fit_transform(train_labeled['reflection'])
train_labeled['country'] = label_enc_country.fit_transform(train_labeled['country'])
train_labeled['duration'] = label_enc_duration.fit_transform(train_labeled['duration'])
train_labeled['married'] = label_enc_married.fit_transform(train_labeled['married'])

#train_unlabeled['age'] = label_enc_age_new.fit_transform(train_unlabeled['age'])
train_unlabeled['gender'] = label_enc_gender.fit_transform(train_unlabeled['gender'])
train_unlabeled['parenthood'] = label_enc_parenthood.fit_transform(train_unlabeled['parenthood'])
train_unlabeled['reflection'] = label_enc_reflection.fit_transform(train_unlabeled['reflection'])
train_unlabeled['country'] = label_enc_country.fit_transform(train_unlabeled['country'])
train_unlabeled['duration'] = label_enc_duration.fit_transform(train_unlabeled['duration'])
train_unlabeled['married'] = label_enc_married.fit_transform(train_unlabeled['married'])


#test_labeled['age'] = label_enc_age_test.fit_transform(test_labeled['age'])
test_labeled['duration'] = label_enc_duration_test.fit_transform(test_labeled['duration'])
test_labeled['gender'] = label_enc_gender.fit_transform(test_labeled['gender'])
test_labeled['parenthood'] = label_enc_parenthood.fit_transform(test_labeled['parenthood'])
test_labeled['reflection'] = label_enc_reflection.fit_transform(test_labeled['reflection'])
test_labeled['country'] = label_enc_country.fit_transform(test_labeled['country'])
test_labeled['married'] = label_enc_married.fit_transform(test_labeled['married'])


#test_labeled['age'] = label_enc_age_test.fit_transform(test_labeled['age'])
test_unlabeled['duration'] = label_enc_duration_test.fit_transform(test_unlabeled['duration'])
test_unlabeled['gender'] = label_enc_gender.fit_transform(test_unlabeled['gender'])
test_unlabeled['parenthood'] = label_enc_parenthood.fit_transform(test_unlabeled['parenthood'])
test_unlabeled['reflection'] = label_enc_reflection.fit_transform(test_unlabeled['reflection'])
test_unlabeled['country'] = label_enc_country.fit_transform(test_unlabeled['country'])
test_unlabeled['married'] = label_enc_married.fit_transform(test_unlabeled['married'])

In [473]:
train_labeled

,hmid,moment,concepts,agency,social,age,country,gender,married,parenthood,reflection,duration
0,27674,i was happy when my son got 90 marks in his ex...,education family,0,1,29.0,0,1,1,1,0,4
1,27685,went to movies with my friends it was fun,entertainment,1,1,29.0,0,1,3,1,0,4
2,27691,a hot kiss with my girl friend last night made...,romance,1,1,25.0,0,1,1,1,0,3
3,27701,my son woke me up to a fantastic breakfast of ...,family food,0,1,79.0,1,0,4,1,0,2
4,27712,my older daughter keeps patting my younger dau...,family,0,1,30.0,1,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10555,128748,my husband called me just to tell me he loved me,romance family,0,1,58.0,1,0,1,0,0,0
10556,128753,i worked out which always makes me feel good,career,1,0,24.0,1,1,1,1,0,3
10557,128754,finally got to watch the new resident evil movie,entertainment,1,0,34.0,1,1,0,1,0,3
10558,128757,i got to talk to an old friend and reminisce o...,conversation,1,1,28.0,1,0,3,1,0,3
10559,128765,i had a great meeting yesterday at work with m...,career,1,1,56.0,1,0,1,0,0,2

In [474]:
train_unlabeled

,hmid,moment,age,country,gender,married,parenthood,reflection,duration
0,27673,i went on a successful date with someone i fel...,35.0,1,1,3,0,0,3
1,27675,i went to the gym this morning and did yoga,30.0,1,0,1,1,0,3
2,27678,i meditated last night,23.0,0,1,3,0,0,3
3,27679,i made a new recipe for peasant bread and it c...,30.0,1,1,3,0,0,4
4,27680,i got gift from my elder brother which was rea...,23.0,0,1,3,0,0,3
...,...,...,...,...,...,...,...,...,...
72319,128761,i spent time with my daughter,40.0,1,0,3,1,0,4
72320,128762,my husband announced he is getting a decent bo...,48.0,1,0,1,1,0,3
72321,128763,had a can of pepsi to drink,29.0,1,1,3,0,0,0
72322,128764,cuddling with my girlfriend last night,23.0,1,1,3,0,0,2
72323,128766,i had a great workout last night,35.0,1,1,3,0,0,3

In [475]:
print(train_labeled['country'].unique())
print(train_labeled['country'].describe())

[0 1]
count    10483.000000
mean         0.799580
std          0.400334
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: country, dtype: float64

In [476]:
train_labeled.corr()['social']

hmid         -0.021528
agency       -0.257795
social        1.000000
age           0.054685
country      -0.033266
gender       -0.084028
married      -0.122568
parenthood    0.164944
reflection    0.041243
duration      0.044728
Name: social, dtype: float64

In [477]:
train_labeled.corr()['agency']

hmid         -0.002089
agency        1.000000
social       -0.257795
age          -0.083176
country      -0.006700
gender        0.073615
married       0.097052
parenthood   -0.124688
reflection   -0.023294
duration      0.069562
Name: agency, dtype: float64

In [478]:
# run this in conda terminal
# conda install -c conda-forge spacy
# python -m spacy download en_core_web_sm

In [479]:
!python -m spacy download en_core_web_md

Requirement already satisfied: en-core-web-md==3.2.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl#egg=en_core_web_md==3.2.0 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (3.2.0)
Requirement already satisfied: spacy<3.3.0,>=3.2.0 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from en-core-web-md==3.2.0) (3.2.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.0.6)
Requirement already satisfied: pathy>=0.3.5 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.6.1)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (8.0.13)
Requirement already satisfied: numpy>=1.15.0 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.21.4)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (4.50.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.0.9)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.9.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.3.0)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.0.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.0.6)
Requirement already satisfied: packaging>=20.0 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (20.4)
Requirement already satisfied: setuptools in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (50.3.1.post20201107)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.0.6)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.0.6)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.24.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.8.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.4.2)
Requirement already satisfied: jinja2 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.11.2)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.7.4)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.4.0)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from pathy>=0.3.5->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (5.2.1)
Requirement already satisfied: six in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from packaging>=20.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from packaging>=20.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.4.7)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2021.10.8)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (4.1.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from jinja2->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.1.1)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /Users/ranjan/opt/anaconda3/lib/python3.8/site-packages (from typer<0.5.0,>=0.3.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (7.1.2)
 Download and installation successful
You can now load the package via spacy.load('en_core_web_md')

In [480]:
def vectors(nlp, data):
    vectors = []
    for row in data[:, 0]:
        doc = nlp(row)
        vectors.append(doc.vector)
    return np.array(vectors)

In [481]:
train_cols = [1, 2, 5, 6, 7, 8, 9, 10, 11]
X_labeled_train = train_labeled.iloc[:, train_cols].values
y_agency_labeled_train = train_labeled.iloc[:, 3].values
y_social_labeled_train = train_labeled.iloc[:, 4].values

In [482]:
import spacy
nlp = spacy.load('en_core_web_md')
train_vectors = vectors(nlp, X_labeled_train)

In [483]:
test_cols = [1, 2, 3, 4, 5, 6, 7, 8, 9]
X_labeled_test = test_labeled.iloc[:, test_cols].values
y_agency_labeled_test = test_labeled.iloc[:, 10].values
y_social_labeled_test = test_labeled.iloc[:, 11].values
test_vectors = vectors(nlp, X_labeled_test)

## Random Forest Classifier

In [484]:
from sklearn.ensemble import RandomForestClassifier
rf_model_agency = RandomForestClassifier(n_estimators = 200)
rf_model_agency.fit(train_vectors, y_agency_labeled_train)
y_pred_rf_agency = rf_model_agency.predict(test_vectors)

In [485]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, confusion_matrix
def evaluate(y_true, y_pred):
    # print evaluation results for model
    # print confusion matrix
    print("Confusion Matrix:")
    print(confusion_matrix(y_true, y_pred))
    # accuracy
    print("Accuracy: ", accuracy_score(y_true, y_pred))
    # precision
    print("Precision: ", precision_score(y_true, y_pred))
    # recall
    print("Recall ", recall_score(y_true, y_pred))
    # f-measure
    print("F1: ", f1_score(y_true, y_pred))

In [486]:
evaluate(y_agency_labeled_test, y_pred_rf_agency)

Confusion Matrix:
[[ 1582  3317]
 [  493 11273]]
Accuracy:  0.7713771377137714
Precision:  0.7726525017135024
Recall  0.9580996090430053
F1:  0.8554408863256943

In [487]:
rf_model_social = RandomForestClassifier(n_estimators = 200)
rf_model_social.fit(train_vectors, y_social_labeled_train)
y_pred_rf_social = rf_model_social.predict(test_vectors)

In [488]:
evaluate(y_social_labeled_test, y_pred_rf_social)

Confusion Matrix:
[[6353  798]
 [1395 8119]]
Accuracy:  0.8684068406840684
Precision:  0.9105080183918358
Recall  0.8533739751944502
F1:  0.8810156801041722

## SVM Classifier

In [489]:
from sklearn import svm
svm_model_agency = svm.SVC()
svm_model_agency.fit(train_vectors, y_agency_labeled_train)
y_pred_svm_agency = svm_model_agency.predict(test_vectors)

In [490]:
evaluate(y_agency_labeled_test, y_pred_svm_agency)

Confusion Matrix:
[[ 2334  2565]
 [  821 10945]]
Accuracy:  0.7968196819681969
Precision:  0.810140636565507
Recall  0.9302226755056944
F1:  0.8660389302104763

In [491]:
svm_model_social = svm.SVC()
svm_model_social.fit(train_vectors, y_social_labeled_train)
y_pred_svm_social = svm_model_social.predict(test_vectors)

In [492]:
evaluate(y_social_labeled_test, y_pred_svm_social)

Confusion Matrix:
[[6647  504]
 [1203 8311]]
Accuracy:  0.8975697569756975
Precision:  0.9428247305728871
Recall  0.8735547614042464
F1:  0.9068688962845763

## XGBoost Classifier

In [493]:
from xgboost import XGBClassifier
xg_model_agency = XGBClassifier()
xg_model_agency.fit(train_vectors, y_agency_labeled_train)
y_pred_xg_agency = xg_model_agency.predict(test_vectors)

[22:46:20] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/Users/ranjan/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

In [494]:
evaluate(y_agency_labeled_test, y_pred_xg_agency)

Confusion Matrix:
[[ 2311  2588]
 [  983 10783]]
Accuracy:  0.7857185718571857
Precision:  0.806446787824396
Recall  0.9164541900390957
F1:  0.8579384970362415

In [495]:
xg_model_social = XGBClassifier()
xg_model_social.fit(train_vectors, y_social_labeled_train)
y_pred_xg_social = xg_model_social.predict(test_vectors)

/Users/ranjan/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[22:46:30] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [496]:
evaluate(y_social_labeled_test, y_pred_xg_social)

Confusion Matrix:
[[6396  755]
 [1219 8295]]
Accuracy:  0.8815481548154815
Precision:  0.9165745856353591
Recall  0.8718730292200967
F1:  0.8936651583710407

## Encoding the Unlabeled Training Dataset ##

In [126]:
train_unlabeled

,hmid,moment,age,country,gender,married,parenthood,reflection,duration
0,27673,"[went, successful, date, someone, felt, sympat...",35.0,1,1,3,0,0,3
1,27675,"[went, gym, morning, yoga]",30.0,1,0,1,1,0,3
2,27678,"[meditated, last, night]",23.0,0,1,3,0,0,3
3,27679,"[made, new, recipe, peasant, bread, came, spec...",30.0,1,1,3,0,0,4
4,27680,"[got, gift, elder, brother, really, surprising]",23.0,0,1,3,0,0,3
...,...,...,...,...,...,...,...,...,...
72319,128761,"[spent, time, daughter]",40.0,1,0,3,1,0,4
72320,128762,"[husband, announced, getting, decent, bonus, q...",48.0,1,0,1,1,0,3
72321,128763,"[pepsi, drink]",29.0,1,1,3,0,0,0
72322,128764,"[cuddling, girlfriend, last, night]",23.0,1,1,3,0,0,2
72323,128766,"[great, workout, last, night]",35.0,1,1,3,0,0,3

In [128]:
test_unlabeled

,hmid,moment,reflection,age,country,gender,duration,married,parenthood
0,0,I was able to spend the day with my fiance sho...,0,28,1,1,1,3,0
1,1,I was able to play with my cat.,0,28,1,1,2,3,0
2,2,I was able to clean my room and gold my laundry.,0,28,1,1,2,3,0
3,3,I spend the day at a party on the beach and I ...,0,24,1,1,3,3,0
4,4,My cat greeting me when I got home from work -...,0,24,1,1,3,3,0
...,...,...,...,...,...,...,...,...,...
17210,21892,My wife and I went for a hike last week and we...,1,34,1,1,3,1,0
17211,21893,I finally hit platinum rank in Overwatch.,1,34,1,1,2,1,0
17212,21897,One of my long-time friends and I finally ackn...,1,34,1,1,1,3,0
17213,21898,I earned a professional certification.,1,34,1,1,3,3,0
17214,21899,I built a new computer.,1,34,1,1,3,3,0

In [129]:
test_labeled

,hmid,moment,reflection,age,country,gender,duration,married,parenthood,concepts,agency,social
0,0,I was able to spend the day with my fiance sho...,0,28,1,1,1,3,0,shopping|family|romance,1,0
1,1,I was able to play with my cat.,0,28,1,1,2,3,0,animals,1,0
2,2,I was able to clean my room and gold my laundry.,0,28,1,1,2,3,0,0,1,0
3,3,I spend the day at a party on the beach and I ...,0,24,1,1,3,3,0,vacation|party|weather,1,1
4,4,My cat greeting me when I got home from work -...,0,24,1,1,3,3,0,animals,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
17210,21892,My wife and I went for a hike last week and we...,1,34,1,1,3,1,0,romance|exercise|family,1,1
17211,21893,I finally hit platinum rank in Overwatch.,1,34,1,1,2,1,0,entertainment,1,0
17212,21897,One of my long-time friends and I finally ackn...,1,34,1,1,1,3,0,romance,1,1
17213,21898,I earned a professional certification.,1,34,1,1,3,3,0,career|education,1,0
17214,21899,I built a new computer.,1,34,1,1,3,3,0,technology,1,0