# CSI5388 Natural Language Processing
## Assignment - 2
## INGREDIENTS FOR HAPPINESS

In [1]:
# Import Data
import pandas as pd
import numpy as np
train_labeled = pd.read_csv("data/TRAIN/labeled_10k.csv", engine = 'python')
train_unlabeled = pd.read_csv("data/TRAIN/unlabeled_70k.csv", engine = 'python')
test_labeled = pd.read_csv("data/TEST/labeled_17k.csv", engine = 'python') # engine should be set as python to avoid error due to some characters: https://stackoverflow.com/questions/46000191/utf-8-codec-cant-decode-byte-0x92-in-position-18-invalid-start-byte
test_unlabeled = pd.read_csv("data/TEST/unlabeled_17k.csv", engine = 'python')

In [2]:
train_labeled.head()

,hmid,moment,concepts,agency,social,age,country,gender,married,parenthood,reflection,duration
0,27674,I was happy when my son got 90% marks in his e...,education|family,no,yes,29.0,IND,m,married,y,24h,half_a_day
1,27685,went to movies with my friends it was fun,entertainment,yes,yes,29.0,IND,m,single,y,24h,half_a_day
2,27691,A hot kiss with my girl friend last night made...,romance,yes,yes,25.0,IND,m,married,y,24h,at_least_one_hour
3,27701,My son woke me up to a fantastic breakfast of ...,family|food,no,yes,79,USA,f,widowed,y,24h,all_day_im_still_feeling_it
4,27712,My older daughter keeps patting my younger dau...,family,no,yes,30,USA,f,married,y,24h,a_few_moment

In [3]:
train_unlabeled.head()

,hmid,moment,age,country,gender,married,parenthood,reflection,duration
0,27673,I went on a successful date with someone I fel...,35.0,USA,m,single,n,24h,at_least_one_hour
1,27675,I went to the gym this morning and did yoga.,30.0,USA,f,married,y,24h,at_least_one_hour
2,27678,I meditated last night.,23.0,IND,m,single,n,24h,at_least_one_hour
3,27679,"I made a new recipe for peasant bread, and it ...",30.0,USA,m,single,n,24h,half_a_day
4,27680,I got gift from my elder brother which was rea...,23.0,IND,m,single,n,24h,at_least_one_hour

In [4]:
test_labeled.head()

,hmid,moment,reflection,age,country,gender,duration,married,parenthood,concepts,agency,social
0,0,I was able to spend the day with my fiance sho...,24h,28,USA,m,all_day_im_still_feeling_it,single,n,shopping|family|romance,yes,no
1,1,I was able to play with my cat.,24h,28,USA,m,at_least_one_hour,single,n,animals,yes,no
2,2,I was able to clean my room and gold my laundry.,24h,28,USA,m,at_least_one_hour,single,n,0,yes,no
3,3,I spend the day at a party on the beach and I ...,24h,24,USA,m,half_a_day,single,n,vacation|party|weather,yes,yes
4,4,My cat greeting me when I got home from work -...,24h,24,USA,m,half_a_day,single,n,animals,no,no

In [5]:
test_unlabeled.head()

,hmid,moment,reflection,age,country,gender,duration,married,parenthood
0,0,I was able to spend the day with my fiance sho...,24h,28,USA,m,all_day_im_still_feeling_it,single,n
1,1,I was able to play with my cat.,24h,28,USA,m,at_least_one_hour,single,n
2,2,I was able to clean my room and gold my laundry.,24h,28,USA,m,at_least_one_hour,single,n
3,3,I spend the day at a party on the beach and I ...,24h,24,USA,m,half_a_day,single,n
4,4,My cat greeting me when I got home from work -...,24h,24,USA,m,half_a_day,single,n

### Pre-processing ###

In [6]:
import nltk

In [7]:
train_labeled['moment'].head(3)

0    I was happy when my son got 90% marks in his e...
1            went to movies with my friends it was fun
2    A hot kiss with my girl friend last night made...
Name: moment, dtype: object

In [8]:
train_unlabeled['moment'].head(3)

0    I went on a successful date with someone I fel...
1         I went to the gym this morning and did yoga.
2                              I meditated last night.
Name: moment, dtype: object

In [9]:
train_labeled['moment'] = train_labeled['moment'].str.lower()
train_unlabeled['moment'] = train_unlabeled['moment'].str.lower()

In [10]:
train_unlabeled['moment'].head(3)

0    i went on a successful date with someone i fel...
1         i went to the gym this morning and did yoga.
2                              i meditated last night.
Name: moment, dtype: object

## Removing the punctuations ##

In [11]:
import string
print(string.punctuation)
punct_str = string.punctuation

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [12]:
upd_moment = []
upd_moment_2 = []

for text_t1 in train_labeled['moment']:
    text_upd = "".join([ char for char in text_t1 if char not in string.punctuation])
    upd_moment.append(text_upd)
    
for text_t2 in train_unlabeled['moment']:
    text_upd_2 = "".join([ char for char in text_t2 if char not in string.punctuation])
    upd_moment_2.append(text_upd_2)

In [13]:
train_labeled['moment'] = upd_moment
train_unlabeled['moment']= upd_moment_2

In [14]:
train_labeled['moment'][4]

'my older daughter keeps patting my younger daughters head'

## Tokenization ##

In [15]:
from nltk import word_tokenize
list_tokenize = []

for moments_sent in train_labeled['moment']:
    tokenized_wrds = word_tokenize(moments_sent)
    list_tokenize.append(tokenized_wrds)
train_labeled['moment'] = list_tokenize
    
list_tokenize = []
for moments_sent in train_unlabeled['moment']:
    tokenized_wrds = word_tokenize(moments_sent)
    list_tokenize.append(tokenized_wrds)
train_unlabeled['moment'] = list_tokenize

In [16]:
train_labeled.head()

,hmid,moment,concepts,agency,social,age,country,gender,married,parenthood,reflection,duration
0,27674,"[i, was, happy, when, my, son, got, 90, marks,...",education|family,no,yes,29.0,IND,m,married,y,24h,half_a_day
1,27685,"[went, to, movies, with, my, friends, it, was,...",entertainment,yes,yes,29.0,IND,m,single,y,24h,half_a_day
2,27691,"[a, hot, kiss, with, my, girl, friend, last, n...",romance,yes,yes,25.0,IND,m,married,y,24h,at_least_one_hour
3,27701,"[my, son, woke, me, up, to, a, fantastic, brea...",family|food,no,yes,79,USA,f,widowed,y,24h,all_day_im_still_feeling_it
4,27712,"[my, older, daughter, keeps, patting, my, youn...",family,no,yes,30,USA,f,married,y,24h,a_few_moment

In [17]:
train_unlabeled.head()

,hmid,moment,age,country,gender,married,parenthood,reflection,duration
0,27673,"[i, went, on, a, successful, date, with, someo...",35.0,USA,m,single,n,24h,at_least_one_hour
1,27675,"[i, went, to, the, gym, this, morning, and, di...",30.0,USA,f,married,y,24h,at_least_one_hour
2,27678,"[i, meditated, last, night]",23.0,IND,m,single,n,24h,at_least_one_hour
3,27679,"[i, made, a, new, recipe, for, peasant, bread,...",30.0,USA,m,single,n,24h,half_a_day
4,27680,"[i, got, gift, from, my, elder, brother, which...",23.0,IND,m,single,n,24h,at_least_one_hour

## Remove Stopwords  ##

In [18]:
from nltk.corpus import stopwords
stop_words_eng = stopwords.words('english')
print(stop_words_eng)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [19]:
filt_wrd_list=[]
for words in train_labeled['moment']:
    filtered_words = [word for word in words if word not in stop_words_eng]    
    filt_wrd_list.append(filtered_words)
train_labeled['moment'] = filt_wrd_list

filt_wrd_list=[]
for words in train_unlabeled['moment']:
    filtered_words = [word for word in words if word not in stop_words_eng]    
    filt_wrd_list.append(filtered_words)
train_unlabeled['moment'] = filt_wrd_list

In [20]:
train_labeled['moment']

0                [happy, son, got, 90, marks, examination]
1                             [went, movies, friends, fun]
2        [hot, kiss, girl, friend, last, night, made, day]
3        [son, woke, fantastic, breakfast, eggs, specia...
4        [older, daughter, keeps, patting, younger, dau...
                               ...
10555                       [husband, called, tell, loved]
10556                  [worked, always, makes, feel, good]
10557    [finally, got, watch, new, resident, evil, movie]
10558     [got, talk, old, friend, reminisce, good, times]
10559    [great, meeting, yesterday, work, boss, collea...
Name: moment, Length: 10560, dtype: object

In [21]:
train_unlabeled['moment']

0        [went, successful, date, someone, felt, sympat...
1                               [went, gym, morning, yoga]
2                                 [meditated, last, night]
3        [made, new, recipe, peasant, bread, came, spec...
4          [got, gift, elder, brother, really, surprising]
                               ...
72319                              [spent, time, daughter]
72320    [husband, announced, getting, decent, bonus, q...
72321                                       [pepsi, drink]
72322                  [cuddling, girlfriend, last, night]
72323                        [great, workout, last, night]
Name: moment, Length: 72324, dtype: object

## Lemmatizer ##

In [22]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\parit\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [23]:
lemm_wrd_list=[]
for words in train_labeled['moment']:
    lemm_words = [lemmatizer.lemmatize(word) for word in words]    
    lemm_wrd_list.append(lemm_words)

train_labeled['moment'] = lemm_wrd_list

In [24]:
lemm_wrd_list=[]
for words in train_unlabeled['moment']:
    lemm_words = [lemmatizer.lemmatize(word) for word in words]    
    lemm_wrd_list.append(lemm_words)

train_unlabeled['moment'] = lemm_wrd_list

## Preprocessing Other Columns ##

In [25]:
train_labeled['country'].unique()

array(['IND', 'USA', 'VEN', 'DNK', 'FIN', 'PER', 'GBR', 'SRB', 'DOM',
       'ARM', 'PAK', 'SGP', 'FRA', 'JAM', 'LTU', 'TUR', 'PHL', 'PRT',
       'ESP', 'THA', 'MEX', 'ARE', 'IDN', 'BRA', 'IRL', 'NGA', 'CAN',
       'BGR', 'DEU', nan, 'DZA', 'MKD', 'ETH', 'RUS', 'EGY', 'NLD', 'ALB',
       'BEL', 'MDA', 'ISR', 'NZL', 'AUS', 'ZAF', 'SWE', 'VNM', 'KAZ',
       'GRC', 'TTO', 'UGA', 'MAR', 'URY', 'ISL', 'SUR', 'KOR', 'BHS',
       'COL', 'ITA', 'CZE', 'BRB', 'MLT', 'MYS', 'KEN', 'KWT', 'PRI',
       'ROU', 'SVN', 'MAC', 'GTM', 'NOR', 'AFG'], dtype=object)

In [26]:
train_unlabeled['country'].unique()

array(['USA', 'IND', 'VNM', 'KWT', 'GBR', 'FIN', 'AUS', 'BGD', 'IDN',
       'BEL', 'CAN', 'SGP', 'IRL', 'PHL', 'VEN', 'LTU', 'BGR', 'DNK',
       'URY', 'SRB', 'JAM', 'ITA', 'KEN', 'DOM', 'EGY', 'PER', 'PRT',
       'ESP', 'NGA', 'BRA', 'MEX', 'TUR', 'MKD', 'FRA', 'COL', 'GRC', nan,
       'MDA', 'POL', 'ARM', 'PAK', 'DZA', 'UGA', 'MYS', 'ZAF', 'THA',
       'ARE', 'AUT', 'LKA', 'DEU', 'ROU', 'ETH', 'NZL', 'NIC', 'NLD',
       'ALB', 'RUS', 'UMI', 'ISR', 'MAR', 'SWE', 'KAZ', 'ASM', 'TTO',
       'JPN', 'PRI', 'AFG', 'KNA', 'CYP', 'TUN', 'HRV', 'ECU', 'KOR',
       'BRB', 'CZE', 'EST', 'BHS', 'GTM', 'GHA', 'GMB', 'ISL', 'SAU',
       'SUR', 'MLT', 'TCA', 'IRQ', 'ARG', 'TWN', 'CHL', 'MAC', 'SVN',
       'NPL', 'VIR', 'SLV', 'NOR', 'LVA'], dtype=object)

- First issue the unlabelled data set has more terms different from the labelled data 
- Agency and Social are TARGET

In [27]:
train_labeled.columns

Index(['hmid', 'moment', 'concepts', 'agency', 'social', 'age', 'country',
       'gender', 'married', 'parenthood', 'reflection', 'duration'],
      dtype='object')

In [28]:
print(train_labeled['married'].unique())
print(train_labeled['gender'].unique())
print(train_labeled['age'].unique())
print(train_labeled['duration'].unique())
print(train_labeled['reflection'].unique())
print(train_labeled['parenthood'].unique())
#print(train_labeled['concepts'].unique())

['married' 'single' 'widowed' 'divorced' 'separated' nan]
['m' 'f' 'o' nan]
['29.0' '25.0' '79' '30' '34' '26' '25' '22' '21' '35' '55' '27' '46' '29'
 '31' '61' '28' '64' '66' '30.0' '45' '37' '39' '32' '63' '23.0' '37.0'
 '20.0' '27.0' '38' '24.0' '36.0' '49' '34.0' '52' '21.0' '56' '28.0'
 '35.0' '31.0' '20' '98' '41' '18.0' '19' '48' '32.0' '61.0' '51.0' '26.0'
 '24' '45.0' '44.0' '33' '42.0' '53' '22.0' '38.0' '71.0' '23' '33.0'
 '48.0' '39.0' '44' '50.0' '42' '19.0' '47.0' '41.0' nan '51' '36' '43'
 '50' '59' '62' '54.0' '60.0' '40' '18' '60' '57' '65' '68' '54' '57.0'
 '47' '40.0' '69' '58' '2' '3' 'prefer not to say' '83' '49.0' '62.0'
 '64.0' '78.0' '46.0' '65.0' '63.0' '88.0' '43.0' '58.0' '67' '66.0'
 '52.0' '53.0' '74' '56.0' '55.0' '2.0' '76.0' '59.0' '73.0' '72.0' '70.0'
 '70' '233.0' '79.0' '71' '67.0' '69.0' '68.0' '75' '74.0' '77']
['half_a_day' 'at_least_one_hour' 'all_day_im_still_feeling_it'
 'a_few_moment' nan 'a_few_minutes']
['24h' '3m']
['y' 'n' nan]

In [29]:
print(train_labeled.isna().sum())

hmid           0
moment         0
concepts       0
agency         0
social         0
age            9
country       22
gender         6
married       15
parenthood     9
reflection     0
duration      31
dtype: int64

## Remove all the nan, null and prefer not to say values ##

In [30]:
train_labeled.shape

(10560, 12)

In [31]:
train_labeled = train_labeled.dropna()
print(train_labeled.shape)

(10485, 12)

In [32]:
train_unlabeled.shape

(72324, 9)

In [33]:
train_unlabeled = train_unlabeled.dropna()
train_unlabeled.shape

(71771, 9)

In [34]:
print(train_labeled['married'].unique())
print(train_labeled['gender'].unique())
print(train_labeled['duration'].unique())
print(train_labeled['reflection'].unique())
print(train_labeled['parenthood'].unique())
print(train_labeled['age'].unique())

print(train_labeled['country'].unique())
print(train_labeled['country'].describe())

['married' 'single' 'widowed' 'divorced' 'separated']
['m' 'f' 'o']
['half_a_day' 'at_least_one_hour' 'all_day_im_still_feeling_it'
 'a_few_moment' 'a_few_minutes']
['24h' '3m']
['y' 'n']
['29.0' '25.0' '79' '30' '34' '26' '25' '22' '21' '35' '55' '27' '46' '29'
 '31' '61' '28' '64' '66' '30.0' '45' '37' '39' '32' '63' '23.0' '37.0'
 '20.0' '27.0' '38' '24.0' '36.0' '49' '34.0' '52' '21.0' '56' '28.0'
 '35.0' '31.0' '20' '98' '41' '18.0' '19' '48' '32.0' '61.0' '51.0' '26.0'
 '24' '45.0' '44.0' '33' '42.0' '53' '22.0' '38.0' '71.0' '23' '33.0'
 '48.0' '39.0' '44' '50.0' '42' '19.0' '47.0' '41.0' '51' '36' '43' '50'
 '59' '62' '54.0' '60.0' '40' '18' '60' '57' '65' '68' '54' '57.0' '47'
 '40.0' '69' '58' '2' '3' 'prefer not to say' '83' '49.0' '62.0' '64.0'
 '78.0' '46.0' '65.0' '63.0' '88.0' '43.0' '58.0' '67' '66.0' '52.0'
 '53.0' '74' '56.0' '55.0' '2.0' '76.0' '59.0' '73.0' '72.0' '70.0' '70'
 '233.0' '79.0' '71' '69.0' '68.0' '75' '74.0' '77']
['IND' 'USA' 'VEN' 'DNK' 'FIN' 'PER' 'GBR' 'SRB' 'DOM' 'ARM' 'PAK' 'SGP'
 'FRA' 'JAM' 'LTU' 'TUR' 'PHL' 'PRT' 'ESP' 'THA' 'MEX' 'ARE' 'IDN' 'BRA'
 'IRL' 'NGA' 'CAN' 'BGR' 'DEU' 'DZA' 'MKD' 'ETH' 'RUS' 'EGY' 'NLD' 'ALB'
 'BEL' 'MDA' 'ISR' 'NZL' 'AUS' 'ZAF' 'SWE' 'VNM' 'KAZ' 'GRC' 'TTO' 'UGA'
 'MAR' 'URY' 'ISL' 'SUR' 'KOR' 'BHS' 'COL' 'ITA' 'CZE' 'BRB' 'MLT' 'MYS'
 'KEN' 'KWT' 'PRI' 'ROU' 'SVN' 'MAC' 'GTM' 'NOR' 'AFG']
count     10485
unique       69
top         USA
freq       8384
Name: country, dtype: object

In [35]:
print(train_labeled.shape)
train_labeled = train_labeled[train_labeled["age"].str.contains("prefer not to say") == False]
print(train_labeled.shape)

train_labeled['age'] = train_labeled['age'].astype(float)

(10485, 12)
(10483, 12)

In [36]:
#print(train_labeled['age'].unique())

In [37]:
train_unlabeled['age'].unique()

array([ 35.,  30.,  23.,  25.,  41.,  37.,  29.,  39.,  28.,  38.,  27.,
        22.,  47.,  26.,  64.,  32.,  33.,  48.,  61.,  66.,  36.,  18.,
        56.,  31.,  42.,  24.,  62.,  44.,  21.,  45.,  46.,  40.,  55.,
         3.,  52.,  19.,  34.,  53.,  49.,  65.,  43.,  20.,  51.,  50.,
        54.,  69.,  57.,  63.,  60.,  73.,  58.,  71.,  98.,  70.,  59.,
       227.,  68.,  72.,  83.,   2.,  78.,  76.,  67.,  74.,  81., 233.,
        79.,  95.,  80.,  88.,  75.,  77.])

In [38]:
print(train_unlabeled['married'].unique())
print(train_unlabeled['gender'].unique())
print(train_unlabeled['duration'].unique())
print(train_unlabeled['reflection'].unique())
print(train_unlabeled['parenthood'].unique())

['single' 'married' 'divorced' 'separated' 'widowed']
['m' 'f' 'o']
['at_least_one_hour' 'half_a_day' 'all_day_im_still_feeling_it'
 'a_few_moment' 'a_few_minutes']
['24h' '3m']
['n' 'y']

In [39]:
print(train_labeled['agency'].unique())
print(train_labeled['social'].unique())

['no' 'yes']
['yes' 'no']

In [40]:
train_unlabeled.columns

Index(['hmid', 'moment', 'age', 'country', 'gender', 'married', 'parenthood',
       'reflection', 'duration'],
      dtype='object')

In [41]:
train_labeled.columns

Index(['hmid', 'moment', 'concepts', 'agency', 'social', 'age', 'country',
       'gender', 'married', 'parenthood', 'reflection', 'duration'],
      dtype='object')

## Encoding the columns ##

In [42]:
# Dealing with yes->1 and No->0 # for agency and social#
train_labeled['social'].replace({'yes':1,'no':0},inplace=True)
train_labeled['agency'].replace({'yes':1,'no':0},inplace=True)

In [43]:
list1 = []
for i in train_labeled['country']:
    if i=='USA':
        list1.append(1)
    else:
        list1.append(0)

train_labeled['country'] = list1

In [44]:
from sklearn.preprocessing import MinMaxScaler

In [45]:
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder,OneHotEncoder

In [46]:
label_enc_age = LabelEncoder()
label_enc_gender = LabelEncoder()
label_enc_parenthood = LabelEncoder()
label_enc_reflection = LabelEncoder()
label_enc_country = LabelEncoder()
label_enc_married = LabelEncoder()
label_enc_duration = LabelEncoder()

In [47]:
train_labeled['age'] = label_enc_age.fit_transform(train_labeled['age'])
train_labeled['gender'] = label_enc_gender.fit_transform(train_labeled['gender'])
train_labeled['parenthood'] = label_enc_parenthood.fit_transform(train_labeled['parenthood'])
train_labeled['reflection'] = label_enc_reflection.fit_transform(train_labeled['reflection'])

train_labeled['country'] = label_enc_country.fit_transform(train_labeled['country'])
train_labeled['duration'] = label_enc_duration.fit_transform(train_labeled['duration'])
train_labeled['married'] = label_enc_married.fit_transform(train_labeled['married'])

In [48]:
train_labeled

,hmid,moment,concepts,agency,social,age,country,gender,married,parenthood,reflection,duration
0,27674,"[happy, son, got, 90, mark, examination]",education|family,0,1,13,0,1,1,1,0,4
1,27685,"[went, movie, friend, fun]",entertainment,1,1,13,0,1,3,1,0,4
2,27691,"[hot, kiss, girl, friend, last, night, made, day]",romance,1,1,9,0,1,1,1,0,3
3,27701,"[son, woke, fantastic, breakfast, egg, special...",family|food,0,1,63,1,0,4,1,0,2
4,27712,"[older, daughter, keep, patting, younger, daug...",family,0,1,14,1,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10555,128748,"[husband, called, tell, loved]",romance|family,0,1,42,1,0,1,0,0,0
10556,128753,"[worked, always, make, feel, good]",career,1,0,8,1,1,1,1,0,3
10557,128754,"[finally, got, watch, new, resident, evil, movie]",entertainment,1,0,18,1,1,0,1,0,3
10558,128757,"[got, talk, old, friend, reminisce, good, time]",conversation,1,1,12,1,0,3,1,0,3
10559,128765,"[great, meeting, yesterday, work, bos, colleag...",career,1,1,40,1,0,1,0,0,2

In [49]:
print(train_labeled['country'].unique())
print(train_labeled['country'].describe())

[0 1]
count    10483.000000
mean         0.799580
std          0.400334
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: country, dtype: float64

In [54]:
train_unlabeled

,hmid,moment,age,country,gender,married,parenthood,reflection,duration
0,27673,"[went, successful, date, someone, felt, sympat...",35.0,USA,m,single,n,24h,at_least_one_hour
1,27675,"[went, gym, morning, yoga]",30.0,USA,f,married,y,24h,at_least_one_hour
2,27678,"[meditated, last, night]",23.0,IND,m,single,n,24h,at_least_one_hour
3,27679,"[made, new, recipe, peasant, bread, came, spec...",30.0,USA,m,single,n,24h,half_a_day
4,27680,"[got, gift, elder, brother, really, surprising]",23.0,IND,m,single,n,24h,at_least_one_hour
...,...,...,...,...,...,...,...,...,...
72319,128761,"[spent, time, daughter]",40.0,USA,f,single,y,24h,half_a_day
72320,128762,"[husband, announced, getting, decent, bonus, q...",48.0,USA,f,married,y,24h,at_least_one_hour
72321,128763,"[pepsi, drink]",29.0,USA,m,single,n,24h,a_few_minutes
72322,128764,"[cuddling, girlfriend, last, night]",23.0,USA,m,single,n,24h,all_day_im_still_feeling_it
72323,128766,"[great, workout, last, night]",35.0,USA,m,single,n,24h,at_least_one_hour

## Train baseline Classifier

In [50]:
print('firetruck')

firetruck